@page
@model DetailsModel

@{
  ViewData["Title"] = "Details";
}

<h1>TODO: Names des Autors</h1>

<h4>Bücher:</h4>
<table class="table">
  <thead>
    <tr>
      <th>
        Titel
      </th>
      <th>
        Isbn
      </th>
      <th>
        Verlag
      </th>
    </tr>
  </thead>
  <tbody>
    
</table>
<div>
  <a asp-page="../Index">Zurück zur Liste</a>
</div>
