@page
@model IndexModel
@{
  ViewData["Title"] = "Autorenübersicht";
}

<h1>Autorenübersicht</h1>

<p>
  <a class="btn btn-primary" asp-page="Authors/Create">Autor/in Hinzufügen</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Autor/in
      </th>
      <th>
        Anzahl Bücher
      </th>
      <th>
        Verleger
      </th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>




